// cấu hình đến file "variables"
@import 'variables';


.click {
    background-color: aqua;
}

.card-course-item {
    margin: 10px;
    border: 2px outset rgba(12, 241, 234, 0.5);
    border-radius: 2px;
}

.car-img-border-color {
    // border: 2px groove rgba(12, 241, 234, 0.5);
    // border-radius: 2px;
}

.video-youtobe {
    border: 2px outset rgba(12, 241, 234, 0.5);
    border-radius: 2px;
}

.heading {
    display: block;
    color: $red-color;
    text-align: center;
    margin: 15px 0;
}