<div class="mt-4">
    <h3 class="">
        đăng khóa học
    </h3>
    <div class="">
        <form method="POST" action="store">
            <div class="form-group">
                <label for="name">tên khóa học</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="description">mô tả</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>
            <div class="form-group">
                <label for="videoID">Id video</label>
                <input type="text" class="form-control" id="videoID" name="videoID">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>