<div class="mt-4" id="">
    <div class="row" id="">
        <div class="col-lg-3" id="">
            <button>Mua Ngay</button>
        </div>
        <div class="col-lg-4" id="">
            <h2 class="" id="">{{course.name}}</h2>
            <div class="" id="">
                <iframe class="video-youtobe"
                    src="https://www.youtube.com/embed/{{course.videoID}}?si=5NDGrrHp3goEDFH3">
                </iframe>
            </div>
            <p class="" id="">{{course.description}}</p>
        </div>
    </div>
</div>