<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/news">News <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Tìm kiếm</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Danh sách
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/course">Khóa học</a>
                    <a class="dropdown-item" href="/music">Âm nhạc</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/course/create">Thêm mới</a>
                    <a class="dropdown-item" href="/me/stored/courses">khóa học của tôi</a>
                </div>
            </li>
        </ul>

        {{!-- <form class="form-inline my-2 my-lg-0 mr-5 click" method="GET" action="/">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Về trang chủ</button>
        </form>

        <form class="form-inline my-2 my-lg-0 mr-5" method="GET" action="news">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Về trang news</button>
        </form>

        <form class="form-inline my-2 my-lg-0 mr-5" method="GET" action="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
        </form>

        <form class="form-inline my-2 my-lg-0 mr-5" method="GET" action="/course">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Khóa học</button>
        </form>

        <form class="form-inline my-2 my-lg-0 mr-5" method="GET" action="/musi">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Âm nhạc</button>
        </form> --}}
    </div>
</nav>