<div class="home" id="" style="background-color: #333;">
    <h1 class="" id="">NỘI DUNG NEWS</h1>
    <iframe class="video-youtobe" width="376" height="214"
        src="https://www.youtube.com/embed/LZN4I3K8SC0?si=USq_Hup4d1YN-09Y?loop=1" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>